---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ job_name }}
  namespace: {{ namespace }}
spec:
  template:
    spec:
      containers:
        - name: imagecopy
          image: {{ image }}
          imagePullPolicy: {{ image_pull_policy }}
          command: 
            - /bin/bash
            - "-c"
            - |
              set -e
              {{ if ca_bundle }}
              echo >> /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem <<EOF
              {{ ca_bundle | indent(14) }}
              EOF
              {{ endif }}
              skopeo copy {{ if src_secret }}--src-authfile /creds/src/.dockerconfigjson{{ endif }} {{ if dest_secret }}--dest-authfile /creds/dest/.dockerconfigjson{{ endif }} {{ src }} {{ dest }}
          volumeMounts:
            {{ if src_secret }}
            - name: src-creds
              mountPath: /creds/src
              subPath: .dockerconfigjson
            {{ endif }}
            {{ if dest_secret }}
            - name: dest-creds
              mountPath: /creds/dest
              subPath: .dockerconfigjson
            {{ endif }}
      {{ if src_secret or dest_secret }}
      volumes:
      {{ endif }}
        {{ if src_secret }}
        - name: src-creds
          secret:
            secretName: {{ src_secret }}
        {{ endif }}
        {{ if dest_secret }}
        - name: dest-creds
          secret:
            secretName: {{ dest_secret }}
        {{ endif }}
      restartPolicy: Never