---
operator:
  image: 
    repository: "image-sync-operator"
    tag: "latest"
    pullPolicy: "IfNotPresent"
  debug: false

service_account:
  create: true
  name: ""

skopeo:
  image:
    repository: "quay.io/skopeo/stable"
    tag: "latest"
    pullPolicy: "IfNotPresent"
  ca_trust_bundle: |
${CERTIFICATE_BUNDLE}

rbac:
  create_cluster_role: false
  cluster_scoped: false
  watched_namespaces: []
